@import "tailwindcss";

html {
	@apply text-gray-800;
}

:root {
	font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont,
		"Segoe UI", sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	background-color: #9a3e3e;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
}
