@import "tailwindcss";

html {
	@apply text-gray-800;
}

:root {
	font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont,
		"Segoe UI", sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	background-color: #9a3e3e;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
}

/*  ------------------ Map PopUp CSS ------------------- */
.mapboxgl-popup-content {
	background: rgba(255, 255, 255, 0.25) !important;
	backdrop-filter: blur(5px) saturate(110%) !important; /* stronger blur */
	-webkit-backdrop-filter: blur(5px) saturate(110%) !important;
	border-radius: 10px !important;
	border: 1px solid rgba(255, 255, 255, 0.4) !important;
	box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2);
	color: #000 !important; /* black text */
	font-family: "Inter", sans-serif;
	font-weight: 500;
	font-size: 0.9rem;
	line-height: 1.4;
	padding: 12px 16px;
	transition: all 0.25s ease;
}

.mapboxgl-popup-content:hover {
	box-shadow: 0 8px 40px rgba(31, 38, 135, 0.35);
}

.mapboxgl-popup-tip {
	border-top-color: rgba(255, 255, 255, 0.3) !important;
}
